//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 20 16:02:03 2017
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

