//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 25 16:00:48 2017
//! **************************************************************************

SCHEMATIC START;
COMP "ain<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "segen<0>" LOCATE = SITE "P113" LEVEL 1;
COMP "ain<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "segen<1>" LOCATE = SITE "P114" LEVEL 1;
COMP "ain<2>" LOCATE = SITE "P3" LEVEL 1;
COMP "segen<2>" LOCATE = SITE "P116" LEVEL 1;
COMP "ain<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "segen<3>" LOCATE = SITE "P115" LEVEL 1;
COMP "clk" LOCATE = SITE "P76" LEVEL 1;
COMP "ain<5>" LOCATE = SITE "P2" LEVEL 1;
COMP "go" LOCATE = SITE "P27" LEVEL 1;
COMP "ain<6>" LOCATE = SITE "P203" LEVEL 1;
COMP "ain<7>" LOCATE = SITE "P204" LEVEL 1;
COMP "osegm<0>" LOCATE = SITE "P120" LEVEL 1;
COMP "osegm<1>" LOCATE = SITE "P124" LEVEL 1;
COMP "osegm<2>" LOCATE = SITE "P123" LEVEL 1;
COMP "osegm<3>" LOCATE = SITE "P126" LEVEL 1;
COMP "done" LOCATE = SITE "P154" LEVEL 1;
COMP "osegm<4>" LOCATE = SITE "P125" LEVEL 1;
COMP "osegm<5>" LOCATE = SITE "P130" LEVEL 1;
COMP "osegm<6>" LOCATE = SITE "P128" LEVEL 1;
COMP "pin<0>" LOCATE = SITE "P191" LEVEL 1;
COMP "pin<1>" LOCATE = SITE "P190" LEVEL 1;
COMP "pin<2>" LOCATE = SITE "P196" LEVEL 1;
COMP "p<0>" LOCATE = SITE "P139" LEVEL 1;
COMP "pin<3>" LOCATE = SITE "P194" LEVEL 1;
COMP "p<1>" LOCATE = SITE "P140" LEVEL 1;
COMP "pin<4>" LOCATE = SITE "P198" LEVEL 1;
COMP "p<2>" LOCATE = SITE "P137" LEVEL 1;
COMP "pin<5>" LOCATE = SITE "P197" LEVEL 1;
COMP "p<3>" LOCATE = SITE "P138" LEVEL 1;
COMP "pin<6>" LOCATE = SITE "P200" LEVEL 1;
COMP "p<4>" LOCATE = SITE "P133" LEVEL 1;
COMP "pin<7>" LOCATE = SITE "P199" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

